

#logo{
    width:350px; 
    height: 65px;
    transition: 1s all;
    
}
#logo:hover{
    transform: scale(1.2);
}

#container{
    display: flex;
	align-items: center;
	flex-direction: row;
	flex-flow:  wrap;
	justify-content: space-around;
	margin: 2%;
	
}

footer{
    width: 100%;
    height: 150px;
    line-height: 90px;
    font-size: 16px;
    background: #e3e9ec;
    color: black;
    box-sizing: border-box;
    
}