
#logo{
    width:350px; 
    height: 65px;
    transition: 1s all;
    
}
#logo:hover{
    transform: scale(1.1);
}

#container{
    display: flex;
	align-items: center;
	flex-direction: row;
	flex-flow:  wrap;
	justify-content: space-around;
	margin: 2%;
	
}

footer{
    width: 100%;
    height: 150px;
    line-height: 90px;
    font-size: 16px;
    background: #e3e9ec;
    color: black;
    box-sizing: border-box;
    
}



#title{
    margin-left:40%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;

}
#poster{
    margin-left:40%;
    margin-top: 22px;
    margin-bottom: 22px;

 

}
#descricao{
    margin-left:41%; 
    width: 315px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;

}
input{
    width: 250px!important;
}
.filmes-container{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border: 5px solid gray;
    margin-bottom: 50px;
}

#results{
    margin-top: 50px;
    margin-left:30%;
    font-style: bold; 
    color: gray; 
}
.titulo{

    margin-left:22px;
}