

#logo{
    width:350px; 
    height: 65px;
    transition: 1s all;
    
}
#logo:hover{
    transform: scale(1.2);
}

#container{
    display: flex;
	align-items: center;
	flex-direction: row;
	flex-flow:  wrap;
	justify-content: space-around;
	margin: 2%;
	
}