
#logo{
    display:flex;
    flex-direction: flex-start;
    width:350px; 
    height: 65px;
    transition: 1s all;
    margin-left: -150%;
    
}
#logo-pequena{   
    display:flex;
    flex-direction: flex-start;
    width:350px!important; 
    height: 65px;
    transition: 1s all;
    margin-left: -2%!important;

}
#busca{
    display:flex;
    margin-left: 950px;
}
body{
    background-color: white!important;
}
#apresentacao{
    display: flex;
    font-size:20px;
    margin-left:600px;
    padding:22px;
    font-family: 'Libre Baskerville', serif;

    
    
}
@media only screen and (max-width: 600px) {
    
    #logo{
        display:flex;
        flex-direction: flex-start;
        width:350px; 
        height: 65px;
        transition: 1s all;
        margin-left: -3%!important;
        
    }
    
    #logo-pequena{
        display:flex;
        flex-direction: flex-start;
        width:350px!important; 
        height: 65px;
        transition: 1s all;
        margin-left: -20%!important;
        
    }
    .container{
        display: flex;
        flex-direction: column;
    }
  
    #imagem-contato{
        margin-top: 40px;
        margin-left: 120px!important;
        width: 50%!important;
        border-radius: 200px;
    }
    #contatos{
        display:flex; 
        flex-direction: row;
        margin-left: 170px!important;
        margin-top: 22px;
    
    }
    #buscar{
        margin-top: 1px!important;
    }
    #busca{
        display:flex;
        padding: 5px;
        margin-left: 50px;
        justify-content: space-around;
    }
    #apresentacao{
        display: flex;
        font-size:20px;
        margin-left:10px;
        padding:22px;
        font-family: 'Libre Baskerville', serif;
    
        
        
    }
    #contato-foto{
        margin-left:20px!important; 
        flex-direction: column;
    }
    #contatos{
        display:flex; 
        flex-direction: row;
        margin-left: 40px!important;
        margin-top: 2px;
    
}
    

}

#imagem-contato{
    margin-top: 40px;
    margin-left: 75px;
    width: 20%;
    border-radius: 200px;
}

#logo:hover{
    transform: scale(1.1);
}
#logo-pequena:hover{
    transform: scale(1.1);
}

#container{
    display: flex;
	align-items: center;
	flex-direction: row;
	flex-flow:  wrap;
	justify-content: space-around;
	margin: 2%;
	
}

footer{
    width: 100%;
    height: 150px;
    line-height: 90px;
    font-size: 16px;
    background: #e3e9ec;
    color: black;
    box-sizing: border-box;
    
}




#poster{
    margin-left:40%;
    margin-top: 22px;
    margin-bottom: 22px;

}

input{
    width: 250px!important;
}
.filmes-container{
    display: flex;
    justify-content: space-between;
    border: 3px solid black;
    margin-bottom: 50px;
}

#results{
    margin-top: 50px;
    margin-left:30%;
    font-style: bold; 
    color: black;
    font-family: 'Libre Baskerville', serif;
}
.titulo{

    margin-left:2px;
    font-family: 'Libre Baskerville', serif;
    font-style: bold; 
    padding: 2px;

}
.ano{
    margin-left:2px;
    font-family: 'Libre Baskerville', serif;
    font-style: bold; 

}

.invisivel{
    display: none;
}
.mostra{
    display: block;
}
#contatos{
    display:flex; 
    flex-direction: row;
    margin-left: 750px;
    margin-top: 22px;
   
}
#contato-foto{
    margin-left:700px; 
    flex-direction: column;
}
#icone-instagram{
    display: flex;
    width: 70px;
    margin-top:-22px;
    margin-right: 55px;;
  
}
#icone-github{
    width: 60px;
    margin-left:5px;
    margin-top: -22px;
}

#icone-instagram:hover{
    transform: scale(1.1);
}
#icone-github:hover{
    transform: scale(1.1);
}